div {
    margin: -1px;
    padding: 0px;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.gridContainer{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}